---
import Layout from "../layouts/Layout.astro";
import Search from "../components/Search.svelte";
---

<Layout title="Eva">
  <main>
    <a class="absolute top-4 left-4" href="/settings">
      <img src="/cog.svg" alt="settings" width="24" height="24" />
    </a>
    <h1>Welcome to Eva!</h1>
    <div
      class="w-full items-center justify-center text-sm text-center flex flex-col"
    >
      This is a utility to help you search for files in your folders.
    </div>
    <Search client:load/>
  </main>
</Layout>
